.section {
  padding: 80px 0;
}

.section-header {
  color: #fff;
  margin-bottom: 40px;
  text-align: center;
}

.section-header .section-title {
  font-size: 42px;
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 700;
  color: #333;
  position: relative;
}

.section-header .section-title span {
  color: #61D2B4;
}

.section-header .section-subtitle {
  margin-top: 15px;
  color: #333;
  font-size: 14px;
  font-weight: 400;
}

.section-header .lines {
  margin: auto;
  width: 70px;
  position: relative;
  border-top: 2px solid #fa7921;
  margin-top: 15px;
}

.btn {
  font-size: 14px;
  padding: 11px 40px;
  border-radius: 0px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: inline-block;
}

.btn-common {
  border: 1px solid #fa7921;
  background: #fa7921;
  position: relative;
  color: #fff;
  border-radius: 25px;
}

#main-area {
  background: url(../img/background.png) fixed no-repeat;
  background-size: cover;
  color: #fff;
  overflow: hidden;
  position: relative;
}

#main-area .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #61D2B4;
  opacity: 0.9;
}

#main-area .contents {
  padding: 150px 0 120px;
}

nav {
  background: transparent;
}

nav ul a {
  color: black;
}

nav .brand-logo {
  color: black;
}

.indigo {
  background: transparent;
}

.navbar-brand {
  position: relative;
  padding: 0px;
  color: #fa7921;
}

.top-nav-collapse {
  background: #fff;
  z-index: 999999;
  top: 0px !important;
  padding: 0;
  box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  background: #fff !important;
}

.top-nav-collapse .navbar-brand {
  top: 0px;
}

.top-nav-collapse .navbar-nav .nav-link {
  color: #333 !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.top-nav-collapse .navbar-nav .nav-link:hover {
  color: #61D2B4 !important;
}

.top-nav-collapse .navbar-nav .nav-link.active {
  color: #fff !important;
}

.indigo {
  background: transparent;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: #fff;
  padding: 0 22px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 40px;
  border-radius: 30px;
  background: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar .nav-link.active {
  color: #fff !important;
  background: #fa7921;
}

.navbar-expand-lg .navbar-nav li a:hover,
.navbar-expand-lg .navbar-nav li .active > a,
.navbar-expand-lg .navbar-nav li a:focus {
  color: #fa7921;
}


.dropdown-toggle::after {
  display: none;
}

.slicknav_btn {
  border-color: #fa7921;
}

.slicknav_menu .slicknav_icon-bar {
  background: #fa7921;
}

/* only small tablets */
@media (min-width: 768px) and (max-width: 991px) {
  #nav-main li a.nav-link {
    padding-top: 18px;
  }
}

.navbar-toggler {
  display: none;
}

.mobile-menu {
  display: none;
}

.slicknav_menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar-header {
    width: 100%;
  }
  .navbar-brand {
    position: absolute;
    padding: 15px;
    top: 0;
  }
  .navbar-brand img {
    width: 70%;
  }
  #mobile-menu {
    display: none;
  }
  .slicknav_menu {
    display: block;
  }
  .slicknav_nav .active a {
    background: #fa7921;
    color: #fff;
  }
  .slicknav_nav a:hover, .slicknav_nav .active {
    color: #fa7921;
    background: #f8f9fa;
  }
  .slicknav_nav .dropdown li a.active {
    background: #f8f9fa;
    color: #fa7921;
  }
}
